# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Generated charts
chart*.html

# Test data
titanic.csv

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
